* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: #464646;
  --main-colour-pink: #E9B6BF; 
  --main-colour-orange: #E07C65; 
  --main-colour-yellow: #F8D47B; 
  color: white;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}