.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: auto;
  padding: 4rem 1rem;
  text-align: center;
}

.neigh{
  color: var(--main-colour-pink)
}

.bour{
  color: var(--main-colour-orange)
}

.hood{
  color: var(--main-colour-yellow)
}