/* .nav {
    background: green;
} */

.navul {
    display: flex;
    justify-content: space-evenly;
}

.navlink{
    color: var(--main-colour-pink);
    padding: 2rem 0;
    font-size: 28px;
    font-weight: 900;
}